<div class="card text-center cardContainer">
    <div class="card-header">
        Chat Edxniel Work
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer text-muted">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingrese su mensaje">
            <div class="input-group-append">
                <span class="input-group-text  bg-dark" id="basic-addon2">
                     <img src="https://cdn-icons-png.flaticon.com/512/561/561226.png" width="22" height="22">
                </span>
            </div>
        </div>
    </div>
</div>