.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.fondoImg {
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/fondo.jpg");
}